.project{
    margin: auto;
    max-width:100%;
    padding:40px;
    background-image: url('/e.jpg');
    background-size: cover;
    background-position: center;
}

.title{
    margin-bottom:70px;
    font-size:42px;
    color: blue;
    text-align:center;
    position:relative;
}
/* #log{
  color:#0066ff
} */

.title::after{
    content:"";
    width:120px;
    height:3px;
    background:#3e3e3e;
    display:block;
    margin:15px auto 0;
    border-radius:2px;
}

.projects-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

/* CARD */

.project-card{
    background:#f7f7f7;
    position:relative;
    border-radius:15px;
    overflow:hidden;
    transition:0.35s;
    box-shadow:0 8px 25px rgba(0,0,0,0.08);
}
.project-card.blue {
  border: 2px solid #00ccff;

  box-shadow:
    0 0 10px #00ccff,
    0 0 20px #00ccff,
    0 0 30px #0099ff,
    0 0 40px rgba(0,153,255,0.9);

  animation: blueElectric 1.5s infinite alternate;
}

@keyframes blueElectric {
  0% {
    box-shadow:
      0 0 5px #00ccff,
      0 0 10px #0099ff,
      0 0 15px #0066ff;
  }
  100% {
    box-shadow:
      0 0 10px #00ccff,
      0 0 20px #0099ff,
      0 0 30px #0066ff,
      0 0 40px rgba(0,102,255,1);
  }

}
.project-card.red {
  border: 2px solid #ff3b3b;

  box-shadow:
    0 0 10px #ff3b3b,
    0 0 20px #ff3b3b,
    0 0 40px #ff0000,
    0 0 80px rgba(255,0,0,0.9);

  animation: redElectric 1.5s infinite alternate;
}

@keyframes redElectric {
  0% {
    box-shadow:
      0 0 5px #ff3b3b,
      0 0 10px #ff0000,
      0 0 15px #cc0000;
  }
  100% {
    box-shadow:
      0 0 10px #ff3b3b,
      0 0 20px #ff0000,
      0 0 30px #cc0000,
      0 0 40px rgba(255,0,0,1);
  }
}
.project-card.green {
  border: 2px solid #00ff88;

  box-shadow:
    0 0 10px #00ff88,
    0 0 20px #00ff88,
    0 0 30px #00cc66,
    0 0 40px rgba(0,255,136,0.9);

  animation: greenElectric 1.5s infinite alternate;
}

@keyframes greenElectric {
  0% {
    box-shadow:
      0 0 5px #00ff88,
      0 0 10px #00cc66,
      0 0 15px #009944;
  }
  100% {
    box-shadow:
      0 0 10px #00ff88,
      0 0 20px #00cc66,
      0 0 30px #009944,
      0 0 40px rgba(0,255,136,1);
  }
}
.project-card.orange {
  border: 2px solid #ff9900;

  box-shadow:
    0 0 10px #ff9900,
    0 0 20px #ff9900,
    0 0 30px #ff5500,
    0 0 40px rgba(255,153,0,0.9);

  animation: orangeElectric 1.5s infinite alternate;
}

@keyframes orangeElectric {
  0% {
    box-shadow:
      0 0 5px #ff9900,
      0 0 10px #ff5500,
      0 0 15px #ff2200;
  }
  100% {
    box-shadow:
      0 0 10px #ff9900,
      0 0 20px #ff5500,
      0 0 30px #ff2200,
      0 0 40px rgba(255,153,0,1);
  }
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(0,0,0,0.15);
}

/* IMAGE */

.project-card img{
    width:100%;
    height:180px;
    object-fit:cover;
    transition:0.4s;
}

.project-card:hover img{
    transform:scale(1.05);
}

/* TEXT */

.project-card h3{
    font-size:20px;
    margin:15px;
    color:#333;
}

.project-card p{
    margin:0 15px 15px;
    font-size:14px;
    color:#666;
    line-height:1.5;
}

/* SKILLS */

.skills{
    display:flex;
    gap:8px;
    flex-wrap:wrap;
    justify-content:center;
    margin-bottom:12px;
}

.skills a{
    font-size:12px;
    padding:5px 12px;
    background:#222;
    color:#fff;
    border-radius:20px;
    text-decoration:none;
    transition:0.3s;
}

.skills a:hover{
    background:#555;
}

/* BUTTONS */

.btns{
    display:flex;
    justify-content:center;
    gap:12px;
    padding-bottom:18px;
}

.btn{
    padding:7px 16px;
    border-radius:25px;
    border:1px solid #333;
    text-decoration:none;
    font-size:13px;
    color:#333;
    transition:0.3s;
}

.btn:hover{
    background:#333;
    color:#fff;
}